
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Contra/2DGame/ContraGame/ContraGame.VC.db
Contra/2DGame/ContraGame/ContraGame.VC.VC.opendb
Contra/2DGame/ContraGame/.vs/ContraGame/v14/.suo
Contra/2DGame/ContraGame/ContraGame/ContraGame.vcxproj.user
Contra/2DGame/ContraGame/ContraGame/Release/ContraGame.Build.CppClean.log
